.bg_img {
    background: linear-gradient(0deg, rgba(28, 64, 100, 0.6), rgba(28, 64, 100, 0.5)), url(../img/bg_login.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: auto;
    left: 0;
}



.bg-login {
    background: rgb(28,64,100, 0.7);
    margin-left: 30px;
    margin-right: 30px;
}

.bg-navbar-login {
    background-color: rgb(28,64,100, 0.9);
    margin-left: 30px;
    margin-right: 30px;
}

.login-card {
    margin-top: 25%;
    margin-left: 50%;
    height: 600px;
    padding: 20px;
    vertical-align: middle;
    background-color: rgb(28,64,100, 0.9);
}

@media (max-width: 480px) {
    .login-card {
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
        height: 500px;
        width: max-content;
        padding: 10px;
        background-color: rgb(28,64,100, 0.9);
    }
  }