body {
    font-family: $app-font;
    font-weight: $normal-weight;
    background-color: $warm-grey;
    height:100%;
    width: 100%;
    overflow: scroll !important;
}

.bg-grey {
    background-color: $warm-grey;
}